<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Home</h2>
	<p>
		Click <a th:href="@{/hello}">here</a> to see the hallo.
	</p>
	
	<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</body>
</html>